MEMORY {
    ZEROPAGE:       start = $00,   size = $100,  type = rw;
    SHADOW_OAM:     start = $0200, size = $100,  type = rw;
    RAM:            start = $0300, size = $500,  type = rw;
    PRGRAM:         start = $6800, size = $1800,  type = rw;
    HDR:            start = $0000, size = $10,   type = ro, file = %O, fill = yes;

    # real program banks; notably these will be duplicated!
    PRG_00_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $00;
    PRG_01_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $01;
    PRG_02_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $02;
    PRG_FIXED_E000: start = $E000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $03;
    PRG_04_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $04;
    PRG_05_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $05;
    PRG_06_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $06;
    PRG_07_8000:    start = $8000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $07;

    # blank memory region, sized to match program banks above
    # will be replaced with the alternate program in the final build
    BLANK_REGION:   start = $8000, size = $2000 * 8, type = ro, file = %O, fill = yes, fillval = $FF;

    # data banks; these are NOT duplicated. Make sure 2xPRG+1xDATA+1xDPCM is a power of 2! Do NOT put code in these!!
    DATA_00_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $10;
    DATA_01_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $11;
    DATA_02_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $12;
    DATA_03_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $13;
    DATA_04_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $14;
    DATA_05_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $15;
    DATA_06_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $16;
    DATA_07_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $17;
    DATA_08_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $18;
    DATA_09_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $19;
    DATA_0A_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1A;
    DATA_0B_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1B;
    DATA_0C_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1C;
    DATA_0D_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1D;
    DATA_0E_A000:   start = $A000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1E;

    DPCM_00_C000:   start = $C000, size = $2000, type = ro, file = %O, fill = yes, fillval = $FF, bank = $1F;

    CHR_ROM:      start = $0000, size = $100000, type = ro, file = %O, fill = yes, fillval = $00, bank = $00;
}

SEGMENTS {
   ZEROPAGE:  load = ZEROPAGE,  type = zp;
   BSS:        load = RAM,        type = bss, align = $100, define = yes;
   RAM:        load = RAM,        type = bss, start = $0300;
   PRGRAM:     load = PRGRAM,     type = bss, start = $6800;
   HEADER:     load = HDR,        type = ro,  align = $10;

   # Code banks for large bits of the engine that we want to track explicitly
   CODE_SOUND:    load = PRG_00_8000,       type = ro,  start = $8000;
   CODE_BHOP:     load = PRG_01_8000,       type = ro,  start = $8000;

   # Arbitrary code banks
   CODE_0:        load = PRG_02_8000,       type = ro,  start = $8000;
   CODE_1:        load = PRG_04_8000,       type = ro,  start = $8000;
   CODE_2:        load = PRG_05_8000,       type = ro,  start = $8000;
   CODE_3:        load = PRG_06_8000,       type = ro,  start = $8000;
   CODE_4:        load = PRG_07_8000,       type = ro,  start = $8000;

   DATA_0:        load = DATA_00_A000,       type = ro,  start = $A000;
   DATA_1:        load = DATA_01_A000,       type = ro,  start = $A000;
   DATA_2:        load = DATA_02_A000,       type = ro,  start = $A000;
   DATA_3:        load = DATA_03_A000,       type = ro,  start = $A000;
   DATA_4:        load = DATA_04_A000,       type = ro,  start = $A000;
   DATA_5:        load = DATA_05_A000,       type = ro,  start = $A000;
   DATA_6:        load = DATA_06_A000,       type = ro,  start = $A000;

   DPCM_0:        load = DPCM_00_C000,       type = ro,  start = $C000;

   PRGFIXED_E000: load = PRG_FIXED_E000,  type = ro,  start = $E000;
   VECTORS:       load = PRG_FIXED_E000,  type = ro,  start = $FFFA;
   CHR_ROM:       load = CHR_ROM,         type = ro,  start = $0000;
}

SYMBOLS {
   __ZPCM_ADDRESS__:  type = weak, value = $4011;
   __BANK_MASK__:     type = weak, value = $07;
   __BANK_OFFSET__:   type = weak, value = $08;
}

FILES {
   %O:   format = bin;
}